.dark-mode{
    --primary-color: #01043B;
    --font-color: #fff;
    --background-image: url("../../assets/background.png");

}

.light-mode{
    --primary-color: #3191D7;
    --font-color: #fff;
    --background-image: url("../../assets/background.png");
}

.landing-page-container{
    background-color: var(--primary-color);
    color: var(--font-color);
    width: 100vw;
}
.landing-section{
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.scrolling-text {
    white-space: nowrap; 
    font-size: 100px;
    position: absolute;
    top: 40%; 
    right: 0; 
    transition: transform 0.3s ease; 
}

.dark-land{
    width: 100vw;
    height: 100vw;
    z-index: 1;
}

.explore-button, 
.toggle-button{
    justify-self: center;
    align-self: center;
    position: absolute;
    top: 150px;
    background-color: transparent;
    border: none;
    transition: transform 0.2s ease-in-out;
    z-index: 2;
}

button:hover{
    transform: translateY(-5px);
}

.explore-button{
    background-color: #fff;
    font-size: 20px;
    color: var(--primary-color);
    padding: 15px 35px;
    border-radius: 15px;
    position: absolute;
    top: 400px;
    z-index: 2;
}
.grid{
    padding: 6vw 20vw;
}

.about-us-section, .features-section{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}

.about-us-section .image-container,
.features-section .image-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.about-us-section .image-container img,
.features-section .image-container img{
    width: 12vw;
}

.about-us-section .text-container,
.features-section .text-container,
.work-section .text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    text-align: justify;
}

.work-section{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}


.work-section .image-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
}
.work-section .image-container video,
.features-section .image-container video {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.work-section .text-container{
    text-align: justify;
}

.features-section .buttons{
    display: flex;
    gap: 20px;
}
.features-section .buttons > *{ 
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
}

.features-section .button2{
    background-color: #915399;
}