* {
    font-family: "Fredoka", sans-serif;
    --main: #101e54;
  }
  .sign-page-container {
    display: flex;
    background-color: var(--main);
  }
  .half {
    width: 50%;
    height: 100vh;
  }
  .half:last-of-type {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .image {
    position: absolute;
    background-image: url("../../assets/SignAndLog/LOGO.png");
    width: 261px;
    height: 37px;
    right: 15px;
    top: 15px;
  }
  .half:last-of-type h2 {
    margin-bottom: 50px;
    color: white;
    font-size: 30px;
  }
  .half:last-of-type form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .half:last-of-type form input {
    width: 260px;
    height: 15px;
    padding: 15px;
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.24) 0px 3px 8px;
  }
  .half:last-of-type form .toLogIn {
    display: flex;
    gap: 20px;
    color: rgba(255, 255, 255, 0.4);
  }
  .half:last-of-type form .toLogIn a {
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    width: 80px;
    text-align: center;
    border-bottom: 1.5px solid white;
  }
  .half:last-of-type form input:last-of-type {
    width: 200px;
    height: 40px;
    padding: 0;
    color: var(--main);
    font-size: 20px;
    text-align: center;
  }
  .sign-page-container .half:first-of-type {
    background: url("../../assets/SignAndLog/log.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-self: flex-end;
    border: 1px solid transparent;
    border-radius: 30px;
  }

 